<!DOCTYPE HTML>
<html>
<head>
    <include file="Public/head"/>
    <link href="__CSS__/static_home.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<!-- 头部 -->
<include file="Public/header"/>
<!-- /头部 -->

<!-- 主体 -->
<body>

    <div class="ui-wrap">
        <div class="container new-ui-wrap">
            <div class="col-xs-8 ui-img"></div>
            <div class="col-xs-4 ui-info">
                <h3>我系渣渣辉</h3>
                <p>倾力打造</p>
                <p>助力科研，提供最新实验室动态</p>
                <p>给你一种前所未有的科研体验。</p>
                <p>我系渣渣辉，是兄弟就来砍我</p>
            </div>
        </div>
    </div>

    <div class="client-wrap">
        <div class="container client-box">
            <h1><font size=10>    中科大部分优秀实验室简介</font> </h1>
            <div class="row client">
                <div class="col-xs-3">
                    <div class="content">
                        <img src="__IMG__/weiruan.png"  class="img-responsive">
                        <p class="p-bold">多媒体计算与通信教育部—微软重点实验室</p>
                        <p style="text-indent: 2em">微软亚洲研究院与国家教育部，中国科大合作建立</p>
                        <p style="text-indent: 2em">主要研究方向包括：无线网络、网络多媒体、多媒体计算、人机自然语音通信。</p>
                        <p style="text-indent: 2em">可获得MSRA实习机会。</p>
                          <p style="text-indent: 2em"><br></p>
                        <div class="hide-box"><a href="https://sist.ustc.edu.cn/_s228/main.psp" target="_blank"><i class="os-icon-link"></i></a></div>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="content">
                        <img src="__IMG__/jisuan.png"  class="img-responsive">
                        <p class="p-bold">高性能计算安徽省重点实验室</p>
                        <p style="text-indent: 2em">主要研究方向有大型科学与工程计算，高性能计算软件、环境、工具，以及水科学工程等高性能应用的研究与开发工作</p>
                        <p style="text-indent: 2em">曾获国家级教学成果二等奖，国家科技进步二等奖和三等奖，中科院科技进步二等奖，中科院自然科学三等奖，共12项<br></p>
                        <div class="hide-box"><a href="http://cs.ustc.edu.cn/" target="_blank"><i class="os-icon-link"></i></a></div>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="content">
                        <img src="__IMG__/dashuju.png"  class="img-responsive">
                        <p class="p-bold">大数据分析与应用安徽省重点实验室</p>
                        <p style="text-indent: 2em">由中国科学技术大学、科大讯飞股份有限公司和安徽广电传媒产业集团有限责任公司三方共建</p>
                        <p style="text-indent: 2em">进行大数据系统研发，承担整个运营系统的构建与维护、数据准备、平台与工具开发;大数据挖掘，负责关键模型应用与研究工作;</p>
      
                        <div class="hide-box"><a href="http://bigdata.ustc.edu.cn/" target="_blank"><i class="os-icon-link"></i></a></div>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="content">
                        <img src="__IMG__/wuxian.png"  class="img-responsive">
                        <p class="p-bold">无线网络通信安徽省重点实验室</p>
                        <p style="text-indent: 2em">目标拓展通信高频段，研究信息通过光谱和无线载体在空间通信和组网等前沿理论与应用技术，提升信息网络容量，满足国家空天地海重大应用需求。</p>
                        <p style="text-indent: 2em">多学科交叉协同创新，培养人才队伍，建成品牌研究基地，争创国家重点实验室/工程中心</p>
                        <div class="hide-box"><a href="https://owc.ustc.edu.cn/" target="_blank"><i class="os-icon-link"></i></a></div>
                    </div>
                </div>
                                <div class="col-xs-3">
                    <div class="content">
                        <img src="__IMG__/weilai.png"  class="img-responsive">
                        <p class="p-bold">未来网络实验室</p>
                        <p style="text-indent: 2em">基于SDN和NFV的未来网络支撑技术创新； </p>
                        <p style="text-indent: 2em">目标是以构建可扩、可控和可靠的高效智能网络为目标，在未来网络体系架构、关键技术与支撑性平台、产品研发和应用示范方面实现突破，在国际学术界和高端网络产业方面形成核心竞争力，建设团队整齐、装备先进和管理科学的国际一流网络研究实验室。<br>
</p>
                        <div class="hide-box"><a href="https://lfn.ustc.edu.cn/index.php/Vindex" target="_blank"><i class="os-icon-link"></i></a></div>
                    </div>
                </div>                <div class="col-xs-3">
                    <div class="content">
                        <img src="__IMG__/yuyin.png"  class="img-responsive">
                        <p class="p-bold">语言信息处理国家工程实验室</p>
                        <p style="text-indent: 2em">中国科大和科大讯飞联合共建单位。
                        <p style="text-indent: 2em">依托科大讯飞建设语音及语言技术研究及工程化应用的技术研发平台</p>
                        <p style="text-indent: 2em">目标是充分发挥产业带动力和辐射效应，不断促进中国语音产业向前发展。<br><br><br><br></p>
                        <div class="hide-box"><a href="http://www.iflytek.com/about/index.html" target="_blank"><i class="os-icon-link"></i></a></div>
                    </div>
                </div>                <div class="col-xs-3">
                    <div class="content">
                        <img src="__IMG__/xinxi.png"  class="img-responsive">
                        <p class="p-bold">信息网络实验室</p>
                        <p style="text-indent: 2em">实验室一直致力于网络基础理论研究和关键技术开发，先后承担了国家自然科学基金、科技部重大专项、863课题、中国下一代互联网CNGI项目、国家攻关课题等数十项项国家、军队和省部级重大课题。</p>
                        <p style="text-indent: 2em">主要课题：未来网络系统结构、智能电网、特定网络环境下的多媒体优化传输</p>
                        <div class="hide-box"><a href="http://if.ustc.edu.cn/" target="_blank"><i class="os-icon-link"></i></a></div>
                    </div>
                </div>              
                  <div class="col-xs-3">
                    <div class="content">
                        <img src="__IMG__/huozai.png"  class="img-responsive">
                        <p class="p-bold">火灾科学国家重点实验室</p>
                        <p style="text-indent: 2em">利用世界银行贷款和国内配套投资兴建的我国火灾科学基础研究领域唯一的国家级研究机构。</p>
                        <p style="text-indent: 2em">，实验室荣获“国家重点实验室计划先进集体”</p>
                        <p style="text-indent: 2em">研究室：建筑火灾研究室、森林与城市火灾安全研究室、工业火灾研究室、火灾风险评估研究室、<br><br></p>
                        <div class="hide-box"><a href="http://sklfs.ustc.edu.cn/sysgk/sysjj/" target="_blank"><i class="os-icon-link"></i></a></div>
                    </div>
            </div>

            <a href="https://www.ustc.edu.cn/kxyj/kyjg/201109/t20110914_119797.html" class="ghost-button">
                <span class="line line-top"></span>
                <span class="line line-left"></span>
                <span class="line line-right"></span>
                <span class="line line-bottom"></span>
                了解更多实验室
            </a>
        </div>
    </div>

</body>
<!-- /主体 -->

<!-- 底部 -->
<include file="Public/footer"/>
<!-- /底部 -->
</body>
</html>